.recommendation {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  overflow-x: scroll;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.recommendation img {
  width: 100px;
}

.startRecipeBtn {
  align-items: center;
  background-color: yellow;
  border: black solid 2px;
  border-radius: 10px;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 250px;
}

